.body-container{
    display:grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(228, 242, 248);
    padding-top: 40px;

}
.person-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 30px;
}